[Desktop Entry]
Name=Axiom - URL Handler
Comment=Open source AI code editor.
GenericName=Text Editor
Exec=axiom-editor --open-url %U
Icon=axiom
Type=Application
NoDisplay=true
StartupNotify=true
Categories=Utility;TextEditor;Development;IDE;
MimeType=x-scheme-handler/axiom;
Keywords=axiom;
